<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>50X</title>
</head>
<body>
<h1>Oeps, something went wrong. Go fetch your parents for me, will you!</h1>
<div style="margin-bottom: 2rem;">
    Don't play with things you dont understand. Send an email to support with the following error code and message.
</div>
<div style="margin-bottom: 2rem;">
    Error Code: <span th:text="${exc.getMessage()}"></span>
</div>
<div style="margin-bottom: 2rem;">
    Error Stack: <span th:text="${exc.print()}"></span>
</div>
</body>
</html>
