<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
<h1>Calculator</h1>

<form method="post">
    <input type="number" name="number_one" placeholder="0" th:value="${param.number_one}" />
     +
    <input type="number" name="number_two" placeholder="0" th:value="${param.number_two}" />
    <input type="submit" value="=" name="equals" />
    <input type="number" name="number_eq" placeholder="0" th:value="${number_eq}" />
</form>
</body>
</html>
