<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>
<h1>Calculator</h1>

<form method="post">
    <div th:text="${solution}" style="font-size: 100px">
        0
    </div>
    <br />
    <input type="number" name="value" placeholder="Number" width="100">
    <br />
    <input type="submit" name="add" value="+">
    <input type="submit" name="subtract" value="-">
    <input type="submit" name="multiply" value="x">
    <input type="submit" name="divide" value="/">
    <input type="submit" name="reset" value="C">
</form>

</body>
</html>
